* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

html,
body,
#root {
  /* height: 100vh; */
  /* height: 100%; */
  /* width: 100%; */
  /* background-color: black; */
}

/* GLOBAL AND COMMON CSS */
.spirax-regular {
  font-family: "Spirax", system-ui;
  font-style: normal;
}

.primary-button {
  background-color: #2D2D2D;
  color: #FFFFFF;
  border-radius: 33px;
  padding: 10px;
  cursor: pointer;
}

.css-arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #FFFFFF;
  border-top: 2px solid #FFFFFF;
  transform: rotate(45deg);
  margin: 10px;
}

.css-arrow-2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid #592EA9;
  border-top: 2px solid #592EA9;
  transform: rotate(45deg);
  margin: 10px;
}